:root {
    --color-base: midnightblue;
    --color1: magenta;
    --color2: aqua;
    --espacio: 20px;
    --cuadrados: 40px;
    --radio: 40px;
}

body {
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--color-base);
    margin: 0px;
    display: flex;
    justify-content: space-between; 
          
}

.item1{
    width: var(--cuadrados);
    height: var(--cuadrados);
    background-color: var(--color1);
    margin: 10px;
}
.item2{
    background-color:var(--color2);
}
.item3{
    border-radius: var(--radio);
}


article{
    background-color: rgb(110, 110, 227);
    margin: 0px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
}
.article1{
    margin: 10px;
    width: var(--cuadrados);
    height: var(--cuadrados);
    background-color: rgb(239, 190, 239);
}

nav {
    display: flex;
    justify-content: space-around;
    margin: var(--espacio);
    margin-top: 60px;
 
}

nav ul li{
    margin: 10px;
}


footer{
    background-color: var(--color-base);
    padding: var(--espacio);
    margin: 0px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.caja1 {
    background-color: rgba(22, 61, 217, 0.504);
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    max-height: 60%;
    text-align: right;
    overflow: auto;
  }
  @media screen and (max-width: 1040px) {
    .caja1 {
        text-align: right;
      padding-right: 20px;
    }
 }
  
  @media screen and (max-width: 600px) {
    .caja1 {
      padding-right: 10px;
      text-align:center;
      max-height: 40%;
    }
  }
  .text-white {
    color: white;
  }
  .btn{
    background-color: blue;
  }
  .btn:hover{
    background-color: var(--color-base);
  }

  .caja2{
    margin: 10px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:10px;
  }
  .rect1{
    padding: var(--espacio);
    background-color: blue;
  }
.caja3{
    margin: -20px;
    padding: var(--espacio);
 /*    background-color: rgb(195, 157, 101); */
     
}
  #media-queries {
    position: absolute;
    /* background-color: rgba(13, 183, 217, 0.52); */
    padding: 30px;
    padding-inline-start: 60px;
    background-image: url('../src/php.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    animation-name: mover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
 }
 @keyframes mover {
    
    0%{right: 0;}
    100% { right: 93%; }
   
}
